{% import 'macro/toolbar.html.twig' as toolbar %}

<div id="footer_container" style="background: #303C7C; width: 100%">
    <span href="{{ path('app_condition_use') }}" ajax-target="#home_container" class="toolbar_element link ajax-link" id="condition_use"><i style="margin-right: 5px" class="fas fa-book"></i>{{ 'app.main.cou'|trans }}</span>
    {{ toolbar.toolbarElement(path('app_contact'), "#home_container", null, "fas fa-envelope-open-text", "Contact") }}
    {{ toolbar.toolbarElement(path('app_link_review_link'), "#home_container", null, "fas fa-check", "app.main.linkchecker"|trans) }}
</div>
