<div id="footer_container" style="background: #303C7C; width: 100%">
    <span class="toolbar_element link" id="condition_use"><i style="margin-right: 5px" class="fas fa-book"></i>Conditions of Use</span>
    <a class="toolbar_element" href="https://github.com/MaxandreOgeret/lessn"><i style="margin-right: 5px" class="fab fa-github"></i>Github</a>
</div>
