{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="height: 100%">
        <div class="row h-100" style="padding-top: 65px; padding-bottom: 65px">
            <div class="col {% if not app.user %}col-lg-6 my-lg-auto{% endif %}">
                    <h1>
                        <a href="{{ path('app_main_route') }}">LESS<span style="font-size: 55px;">n</span>.io</a>
                    </h1>
                <h3>The fastest way to shrink links</h3>
            </div>

            <div class="{% if not app.user %}col-lg-6 my-lg-auto{% endif %} col-12 d-flex justify-content-around">
                <span id="home_container">
                    {{ include('home/homeForm.html.twig') }}
                </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    {{ include('home/homepage.js.twig') }}
</script>
{% endblock %}