{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="height: 100%">
        <div class="row h-100">
            <div class="col-md-6 col-sm-12 my-auto">
                <h1>LESS<span style="font-size: 55px;">n</span></h1>
                <h3>The fastest way to shrink your links</h3>
            </div>
            <div class="col-md-6 col-sm-12 my-auto">
                <span id="home_form_container">
                {{ include('home/homeForm.html.twig') }}
                </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    {{ include('home/homepage.js.twig') }}
</script>
{% endblock %}