{% if status == 'ok' %}

    {#<span>{{ 'lessn.io/'~uuid }}</span>#}
    <form>
    <div class="row">
    <input type="text" class="stylish-input" value="{{ 'http://lessn.io/'~uuid }}" readonly="true" autocomplete="off"><br>
    <span id="reset-home" class="btn btn-link link"><i  class="fas fa-undo-alt"></i></span>
    </div>
    </form>
{% elseif status == 'toomany' %}

    <span>You shortened too many links, please wait one minute.</span><br>
    <button style="position: absolute; right: 0; bottom: 0" id="reset-home" class="btn btn-link link"><i  class="fas fa-undo-alt"></i></button>
    <span>Tired seeing this message ? You may <a href="#">register</a></span>

{% endif %}

