<div id="toolbar_container" class="float-right" style="position: absolute; right: 0;">
    <a class="toolbar_element" href="#"><i style="margin-right: 5px" class="fas fa-sign-in-alt"></i> Sign in</a>
    <a class="toolbar_element" href="#"><i style="margin-right: 5px" class="fas fa-user-plus"></i>Sign up</a>
</div>
