<div id="toolbar_container" class="float-right" style="position: absolute; right: 0;">
    <a class="toolbar_element" href="#"><i style="margin-right: 5px" class="fas fa-sign-in-alt"></i><span class="d-none d-sm-inline">Sign in</span></a>
    <a class="toolbar_element" href="#"><i style="margin-right: 5px" class="fas fa-user-plus"></i><span class="d-none d-sm-inline">Sign up</span></a>
</div>
