<!-- Modal -->
<div class="modal fade" id="{{ modalId|default('main_modal') }}" tabindex="-1" role="" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background: #DD7E6B">
            {% if modalHeader is defined %}
            <div class="modal-header"></div>
            {% endif %}
                <div class="modal-body">
                </div>
        </div>
    </div>
</div>