function handleLinkJson(data) {

    $('#home_container').html(
        // language=HTML
        `
            <h2 style="margin-bottom: 50px">Link Manager</h2>
            <div style="height: 100%"  id="jsGrid"></div>
            <span id="reset-home" class="btn btn-link link"><i  class="fas fa-undo-alt"></i></span>
        `)

    jsGrid.validators.url = {
        message: "Please enter a valid url",
        validator: function(value, item) {
            return (/^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/.test(value) &&
                !startsWith(value, 'lessn.io/') &&
                !startsWith(value, 'http://lessn.io/') &&
                !startsWith(value, 'http://www.lessn.io/') &&
                !startsWith(value, 'https://lessn.io/') &&
                !startsWith(value, 'https://www.lessn.io/')
            );
        }
    }

    jsGrid.validators.uuidchar = {
        message: "UUID should contain only letters and '-', '_', '~'",
        validator: function(value, item) {
            return /^[A-z0-9-_~]+$/.test(value);
        }
    }

    jsGrid.validators.uuidforbidden = {
        message: "This value is forbidden",
        validator: function(value, item) {
            return !(jQuery.inArray(value, ['app', 'security', 'link', 'form']) !== -1)
        }
    }

    jsGrid.validators.uuidmaxlen = {
        message: "This value ",
        validator: function(value, item) {
            return !(jQuery.inArray(value, ['app', 'security', 'link', 'form']) !== -1)
        }
    }

    jsGrid.validators.uuidUnique = {
        message: "This value is already taken.",
        validator: function(value, item) {
            var valid = false;

            $.ajax({
                type: 'GET',
                url: '{{ path('app_link_manager_check_uuid') }}',
                data: {uuid: value},
                dataType: 'json',
                async: false
            }).done(function (data) {
                valid = data;
            });
            return valid;
        }
    }

    var customFinishInsert = function(grid) {
        jsGrid.loadStrategies.DirectLoadingStrategy.call(this, grid);
    };
    customFinishInsert.prototype = new jsGrid.loadStrategies.DirectLoadingStrategy();

    customFinishInsert.prototype.finishInsert = function(insertedItem) {
        var grid = this._grid;
        grid.option("data").unshift(insertedItem);
        grid.refresh();
    };

    $("#jsGrid").jsGrid({
        width: "100%",
        height: "auto",

        inserting: true,
        editing: true,
        sorting: true,
        paging: true,
        pageSize: 10,

        data: data,

        noDataContent: "You have no links.",

        loadStrategy: function() {
            return new customFinishInsert(this);
        },

        controller: {
            insertItem: function (data) {return manipulateData('insert', data)},
            updateItem: function (data) {return manipulateData('update', data)},
            deleteItem: function (data) {return manipulateData('delete', data)}
        },

        invalidNotify: function(args) {

            var messages = '<table class="table"><tbody>';
            args.errors.forEach(function(error) {

                messages = messages+
                    `
                        <tr><th>`+error.field.title+`</th>
                        <td>`+error.message+`</td></tr>

                    `
            });
            messages = messages+'</tbody></table>'

            $('#main_modal').modal('show');
            // language=HTML
            $('.modal-content').html(
                `
                    <div class="modal-body">
                    <p class="text-center">`+messages+`</p>
                    </div>
                    <a class="link btn" data-dismiss="modal">OK</a>
                `);
        },

        confirmDeleting: false,
        onItemDeleting: function(args) {
            if (!args.item.deleteConfirmed) {
                args.cancel = true;
                var message = "are you sure?";
                $('#main_modal').modal('show');
                $('.modal-content').html(
                    `
                    <div class="modal-body">
                    <p class="text-center">` + message + `</p>
                    </div>

                    <div class="row">
                    <div class="col text-center"><span id="jsgrid-confirm-deleting" class="redlink btn" data-dismiss="modal"><i class="fas fa-check"></i>Confirm</span></div>
                    <div class="col text-center"><span class="greenlink btn" data-dismiss="modal"><i class="fas fa-times"></i>Cancel</a></div>
             `);

                $('#main_modal').on('click', '#jsgrid-confirm-deleting', function (e) {
                    args.item.deleteConfirmed = true;
                    $("#jsGrid").jsGrid('deleteItem', args.item); //call deleting once more in callback
                    $('#main_modal').off('click');
                });
            }
        },

        fields: [
            {
                title: "Unique ID",
                name: "uuid",
                type: "text",
                width: 40,
                css: "jsgrid-inverted",
                validate: ["uuidchar", 'uuidforbidden', 'uuidUnique'],
                editing: false,
                inserting: true
            },
            {
                title: "URL",
                name: "url",
                type: "text",
                css: "jsgrid-inverted",
                validate: ["required", "url"]
            },
            {
                title: "Created on",
                name: "datecrea",
                type: "text",
                css: "jsgrid-inverted",
                width: 40,
                editing: false,
                inserting: false
            },
            {
                title: "Visited",
                name: "visited",
                type: "number",
                css: "jsgrid-inverted",
                width: 30,
                editing: false,
                inserting: false
            },
            {
                type: "control",
                width: 22,
                css: "jsgrid-inverted"
            }
        ]
    });
}

function manipulateData(action, data) {
    var method = '';
    switch (action) {
        case 'insert' :
        case 'update' :
            method = 'PUT';
            break;
        case 'delete' :
            method = 'DELETE'
            break;
    }

    return $.ajax({
        type: method,
        url: '{{ path('app_link_manager_controller') }}',
        {#data: output,#}
        data: JSON.stringify(data),
        dataType: 'json'
    });
}