html, body {
    background-color: #303C7C;
    font-family: 'Ubuntu', sans-serif;
    color: #FCFBFB;
    height: 100%;
}

input.stylish-input{
    background-color:rgba(0,0,0,0) !important;
    border-right :none !important;
    border-left :none !important;
    border-top :none !important;
    border-bottom: 1px solid; !important;
    color: #FCFBFB;
}

#submit_button_home:hover {
    cursor:pointer;
}

.error_text {
    color: #f44336;
    position:absolute;
}

/* unvisited link */
a:link, .link {
    font-weight: bold;
    color: #FCFBFB;
}

/* visited link */
a:visited, .link  {
    font-weight: bold;
    color: #FCFBFB;
}

/* mouse over link */
a:hover, .link:hover  {
    font-weight: bold;
    color: #FCFBFB;
    cursor:pointer;
    text-decoration: underline;
}

.link:hover {
    text-decoration: underline; !important;
}

/* selected link */
a:active, .link  {
    font-weight: bold;
    color: #FCFBFB;
}

#toolbar_container, #footer_container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

#footer_container {
    bottom: 0;
    position: fixed;
}

.toolbar_element {
    padding-right: 20px;
}

hr {
    border-top: 1px solid #ccc;
}