html, body {
    background-color: #303C7C;
    font-family: 'Ubuntu', sans-serif;
    color: #FCFBFB;
    height: 100%;
}

#reset-home, .svg-inline--fa {
    font-size: 20px;
}

input.stylish-input, input.stylish-input:focus{
    background-color:rgba(0,0,0,0) !important;
    border-right :none !important;
    border-left :none !important;
    border-top :none !important;
    border-bottom: 1px solid; !important;
    color: #FCFBFB;
    outline: none;
}

#submit_button_home:hover {
    cursor:pointer;
}

.error_text {
    color: #f44336;
    position:absolute;
}

/* unvisited link */
a:link, .link {
    font-weight: bold;
    color: #FCFBFB;
}

/* visited link */
a:visited, .link  {
    font-weight: bold;
    color: #FCFBFB;
}

/* mouse over link */
a:hover, .link:hover  {
    font-weight: bold;
    color: #FCFBFB;
    cursor:pointer;
    text-decoration: underline;
}

.link:hover {
    text-decoration: underline; !important;
}

/* selected link */
a:active, .link  {
    font-weight: bold;
    color: #FCFBFB;
}

#toolbar_container, #footer_container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

#footer_container {
    bottom: 0;
    position: fixed;
}

.toolbar_element {
    padding-right: 20px;
}

hr {
    border-top: 1px solid #ccc;
}

.above-form-title {
    margin-left: -40px;
    margin-bottom: 30px;
}

.jsgrid-inverted, .jsgrid-cell, .jsgrid-grid-header {
    color: #FCFBFB;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent !important;
    height: 100%;
}

.jsgrid-grid-header, .jsgrid-header-scrollbar, .jsgrid-header-cell {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    overflow-y : hidden !important;

}

.jsgrid-cell {
    overflow: hidden;
}

#jsGrid {
    margin-bottom: 25px;
}

.jsgrid-pager-current-page {
    color : #C2566A;
}