<div style="margin-top: 50px;margin-bottom: 100px;">
    <h3>{{'app.main.contact'|trans}}</h3><br>
    <p>{{ 'app.contact.message'|trans }}<a href="https://github.com/MaxandreOgeret/lessn/issues">{{ 'app.contact.github'|trans }}</a>{{ 'app.contact.message2'|trans }}.</p>

    <br><span id="reset-home" class="btn btn-link link"><i  class="fas fa-undo-alt"></i></span>
</div>
