<div style="margin-top: 50px;margin-bottom: 100px;">
    <h3>{{'app.main.contact'|trans}}</h3><br>
    <p>The contact form is not live yet but if you have anything to say you are very welcome to create an issue on <a href="https://github.com/MaxandreOgeret/lessn/issues">GitHub</a>.</p>

    <br><span id="reset-home" class="btn btn-link link"><i  class="fas fa-undo-alt"></i></span>
</div>
