<div style="margin-top: 50px;margin-bottom: 100px;">
    <h3>Conditions of Use</h3><br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    <p>The source code is available on <a href="https://github.com/MaxandreOgeret/lessn">GitHub</a>.</p>
    <p><b>Links you provide MUST NOT lead to a website that infringe any french or european law.</b></p>

    <hr><br>

    <h3>Cookie policy and confidentiality</h3><br>
    <p>This site uses essential cookies to store your session and to secure the forms (CSRF). Our cookies last one session and include no tracking.</p>
    <p>This website is GDPR complient.</p>
    <p>We also store hashed IP and hashed user-agent to avoid misuses and count the number of views for each link.</p>

    <br><span id="reset-home" class="btn btn-link link"><i  class="fas fa-undo-alt"></i></span>
</div>
