<div style="margin-top: 50px;margin-bottom: 100px;">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.    <hr>
    <p>This site uses cookies. By continuing to browse the site, you are agreeing to our use of cookies.</p>
    <p>We also store IP and user-agent to avoid misuses.</p>
    <p>
        <b>Links you provide MUST NOT lead to a website that infringe any french law.</b>
    </p><br>
    <span id="reset-home" class="btn btn-link link"><i  class="fas fa-undo-alt"></i></span>
</div>
